@font-face {
    font-family: "iconfont"; /* Project id 5221040 */
    src: url('//at.alicdn.com/t/c/font_5221040_px8z4rqcqiq.woff2?t=1789314049656') format('woff2'),
    url('//at.alicdn.com/t/c/font_5221040_px8z4rqcqiq.woff?t=1789314049656') format('woff'),
    url('//at.alicdn.com/t/c/font_5221040_px8z4rqcqiq.ttf?t=1789314049656') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
    content: "\ea0a";
}

.icon-shipin1:before {
    content: "\e60f";
}

.icon-bilibili-line:before {
    content: "\ea96";
}

.icon-tougaox:before {
    content: "\e601";
}

.icon-dianzan:before {
    content: "\e613";
}

.icon-xiaoxi:before {
    content: "\e600";
}

.icon-fengche:before {
    content: "\e827";
}

.icon-zhongbiao:before {
    content: "\e60e";
}

.icon-shoucang:before {
    content: "\e625";
}

.icon-gerenzhongxin:before {
    content: "\e651";
}

.icon-tuichu:before {
    content: "\e892";
}

.icon-edit:before {
    content: "\e609";
}

.icon-sousuo:before {
    content: "\e628";
}

.icon-bilibili:before {
    content: "\e6b4";
}
